/* Style for Homework #3 by Bryhadyr Kostiantyn */

:root {
    --font-primary: 'Roboto', 'sans-serif';
    --font-secondary: 'Raleway', sans-serif;
    --studio-black: rgb(0, 0, 0);
    --studio-white: rgb(255, 255, 255);
    --studio-whitealfa:rgba(255, 255, 255, 0.6);
    --studio-blue: rgba(33, 150, 243, 1);
    --studio-hover-blue: rgba(24, 140, 232, 1);
    --studio-dark: rgba(33, 33, 33, 1);
    --studio-text: rgba(117, 117, 117, 1);
    --studio-darkbg: rgba(47, 48, 58, 1);
    --studio-lines: rgba(236, 236, 236, 1);
    --studio-lightbg: rgba(245, 244, 250, 1);
  }

body {
    background-color: var(--studio-white);
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.4;
    color: var(--studio-text);
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin:0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
img {
  display: block;
}
.section {
    padding: 94px 0;
}
h2.section_title {
    margin-top: 0;
    margin-bottom: 50px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}
/* Header */
.header {
    border-bottom: 1px solid var(--studio-lightbg);
}
.logo {
    font-family: var(--font-secondary);
    font-size: 26px;
    font-weight: 700;
}
.logo > span {
    color: var(--studio-blue);
}
a.logo {
    color: var(--studio-black);
    text-decoration: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list a {
    text-decoration: none;
}
.menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--studio-dark);
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active,
.current {
    color: var(--studio-blue);
}
.contact-mail,
.contact-num {
    color: var(--studio-text);
}
.header-nav {
    display: flex;
    align-items: center;
}
.main-nav
 {
    display: flex;
    height: 80px;
 }
.header-nav-menu {
    display: flex;
}
.header-nav-menu li,
.nav-contacts li {
margin-right: 50px;
}
ul.header-nav-menu {
    margin-left: 93px;
}
.nav-contacts
 {
    display: flex;
    align-items: center;
}
.nav-contacts {
    margin-left: auto;
}

/* Hero */
.hero {
    background-color: var(--studio-darkbg);
    padding-top:200px;
    padding-bottom:200px;
}
h1.hero_title {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--studio-white);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
}
.hero > .container {
    text-align: center;
}
.hero_button {
    font-family: var(--font-primary);
    color: var(--studio-white);
    background-color: var(--studio-blue);
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}
.hero_button:hover {
    background-color: var(--studio-hover-blue);
    cursor: pointer;
}

/* Features */
.features .container ul {
    display: flex;
    justify-content: space-between;
}
.features_iteam {
    width: 270px;
}
h2.section_title {
    color: var(--studio-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
h3.features_iteam_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--studio-dark);
    margin-bottom: 10px;
}
p.features_text {
}

/* What We Do */
section.whatwedo {
    padding-top: 0px;
}
.whatwedo .container ul {
    display: flex;
    justify-content: space-between;
}

/* Crew */
.section.crew {
    background-color: var(--studio-lightbg);
}
.crew .container ul {
    display: flex;
    justify-content: space-between;
}
.crew_blox_block {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
h3.crew_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--studio-dark);
    margin: 30px 0 10px;
}
.crew_blox_block>p {
    text-align: center;
    font-size: 16px;
    line-height: 0.8;
    margin: 10px 0 30px;
}

/* Portfolio */
.portfolio-filtr-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-filtr-container li:not(:last-child) {
    margin-right: 8px;
}
.project h2.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--studio-dark);
}
.project p.description {
    font-size: 16px;
    line-height: 1.8;
    color: var(--studio-text);
}
button.portfolio_filtr {
    background-color: var(--studio-lightbg);
    color: var(--studio-dark);
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
button.portfolio_filtr:hover, 
button.portfolio_filtr:active,
button.portfolio_filtr:focus {
    font-family: var(--font-primary);
    background-color: var(--studio-blue);
    color: var(--studio-white);
    cursor: pointer;
}
/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
}
.project {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.project:nth-child(3n) {
    margin-right: 0;
}
.project:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.project-descr {
    padding: 20px 24px;
    border: 1px solid var(--studio-lightbg);
    border-top: none;
}
.project-descr h2 {
    margin-bottom: 4px;
}
.project-descr p {
    margin-top: 4px;
}


/* Footer */
.footer {
    background-color: var(--studio-darkbg);
    color: var(--studio-white);
    padding-top:60px;
    padding-bottom:60px;
}
.footer a.logo {
    color: var(--studio-white);
    display: block;
    margin-bottom: 20px;
}
.address {
    line-height: 1.8;
    font-style: normal;
}
.address li:not(:last-child) {
margin-bottom: 9px;
}
a.loc {
    color: var(--studio-white);
    text-decoration: none;
}
a.mail,
a.tel {
    color: var(--studio-text);
    text-decoration: none;
}

